* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #f9faf8;
}

/* navbar */

.header-logo {
  font-size: 24px;
  font-weight: 800;
}

header {
  background-color: #1f2937;
  color: #f9faf8;
  padding: 1.5em 14.5em;
}

.navbar {
  /* margin-left: 200px;
  margin-right: 200px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  display: flex;
  gap: 1.5em;
}

.navbar ul,
.secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}

/* hero section */

.hero {
  padding: 6.5em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.hero .headline {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  align-self: stretch;
  gap: 10px;
}

.main-text {
  font-size: 48px;
  font-weight: 800;
}

.hero-img {
  flex: 1;
}

.hr-img {
  height: 300px;
}

button {
  padding: 7px 1em;
  width: 120px;
  background-color: #3882f6;
  border-radius: 8px;
  color: #f9faf8;
  font-weight: 800;
}

/* Info Section */
.information {
  padding: 0 14.5em;
  margin-top: 3em;
}

.information h1 {
  text-align: center;
  margin-bottom: 32px;
  color: #1f2937;
  font-weight: 800;
  font-size: 36px;
}

.information .photos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 3em 0 6em 0;
  gap: 0.5rem;
}

.card {
  max-width: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

.card img {
  height: 160px;
  width: 160px;
  border-radius: 20px;
}

.card p {
  font-size: 18px;
  color: #1f2937;
}

/* Quote */
